/*
Description: Open Data App
Author: Pat Wilkins
Version: 1.0.0
Tags: Ottawa Museums
*/ 


.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.clear {
	clear: both;
}

a span:hover,
a span:focus,
a span:active {
	color: #007ca5;
}
a,
a:link,
a:visited {
	display: inline;
	margin:0;
	padding: 2px;
	Color: #000;
	text-decoration:none;
	zoom: 1;
}
a:hover,
a:focus,
a:active {
	background-color: #9e0b0f;
	color: #FFF;
}
table
{
border-collapse:collapse;
}
table,th, td
{
border: 1px solid black;
}
/* -------------------------------------- */
.masthead {
	text-align: center;
}

a {
	list-style-type: none;
	text-decoration: none;
}

.menu {
	overflow-y: scroll;
	height: 500px;
	width: 470px;
	float: left;
}

html {
	background-color: #ddd;
}

html,
body {
	margin: 0; 
	padding: 0 
	}

body {
	height: 600px;
	width: 1100px;
	margin: 1em auto;
	background-color: #fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);

}	
	
	
.mainout {
		border: solid 2px #C93;
}
	
.map {
	position: relative;
	height: 500px;
	width: 585px;
}

.map_can {
	position: absolute;
	top: 0px;
	right: 5px;
	bottom: 0px;
	left: 0px;
	height: 500px;
	width: 585px;
	border: solid 2px #C93;
	}
	
#smap {
	height: 300px;
	width: 385px;
	margin: auto;
	border: solid 2px #C93;
	}
	
.rate p {
	text-align: center;
	padding: 0;
}

.main tbody td:nth-last-child(1){
	font-size: .75em;
}
.admin {
	float: right;
	padding: .5em 1em 0 0;
}
.menu {
	padding-left: 2%;
	
}
.map,
.menu {
	float: left;
}

table ul { 
	font-size: .5em;
	margin: 0;
	padding: 0;
	
}
.stars ul { 
	font-size: 1.5em;
	margin: auto;
	padding: 0;
	
}
.stars { 
	margin: auto;
	text-align: center;
	
}

.setup ul {
	margin:0;
}

.setup ul li {
	list-style-type: none;
	display: block;
	margin:0;
	text-align: center;
}

ul li {
	list-style-type: none;
	display: inline-block;
	margin: 0;
}

.rated {
	color: #FC0;
}

.return {
	text-align: center; 
	margin: auto;
	
	}
.return a {
	text-align: center; 
	border: solid 1px #000;
	background-color: #ccc;
	
	}

