/*
Description: Open Data App
Author: Pat Wilkins
Version: 1.0.0
Tags: Ottawa Museums
*/ 


.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.clear {
	clear: both;
}

/* -------------------------------------- */



/**
 *  @section  General
 */

.body {
	margin-top: 1em;
	padding: 2em;
	width: 1000px;
	background-color: #fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
	margin-left:auto;
	margin-right:auto;
	min-height: 800px;
	margin-left: 20em;
	
}

.name,
.latitude,
.longitude,
.address {
	text-align: left;
	column-width: 25 em;
}

a {
	text-decoration:none;
}




